body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#d4d3cc ;
}
  
/* #btn-start {
    height: 3rem;
    width: 5rem;
} */

.world {
    overflow: hidden;
    position: relative;
    height: 80%;
    width: 80%;
    border: 10px solid black;
}

.settings-nav {
    visibility: visible;
}

.target {
    --left: 0;
    --top: 0;
    position: absolute;
    height: 10%;
    width: 5%;
    top: calc(var(--top)*1%);
    left: calc(var(--left)*1%);
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.crosshair {
    --left: 50;
    --top: 50;
    position: absolute;
    height: 5%;
    width: 2.5%;
    top: calc(var(--top)*1px);
    left: calc(var(--left)*1px);
    transform: translate(-50%, -50%);
    visibility: hidden;
}
.background-img{
    height:100%;
    width:100%;
    position: absolute;
    background-size: 40px 40px;
    background-image:
      linear-gradient(to right, #363636 1px, transparent 1px),
      linear-gradient(to bottom, #363636 1px, transparent 1px);
    }
.navbar-custom{
    height: 75px;
    padding:0px;
}

.navbar-brand{
    padding-left:10px;
    font-size: 30px;
}
.btn.btn-rounded{
    border-radius: 17px;
}
.btn{
    margin-left:10px;
}